<div class="col-md-8 col-md-offset-2">
    <form class="form-horizontal"
                ng-submit="createEvent()"
                name="eventform"
                novalidate>
                <div class="panel panel-default eventCard">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-danger"><span class="lead event-form"><b>Event form</b></span></button>


                </div>
                <div class="panel-body">
                    <ng-include src="'templates/events/event.form.html'" ></ng-include >
                </div>
                <div class="panel-footer">
                     <div class="pull-right">
                            <button
                                            ladda="events.isCreating"
                                            type="submit"
                                            class="btn btn-primary btn-sm">
                                            <span ng-show="isCreating"><b>Creating</b></span>
                                           <span ng-show="!isCreating"><b>Submit</b></span>
                            </button>

                            <button class="btn btn-danger btn-sm"
                                            ng-click="cancel()"><b>Cancel</b>
                                </button>
                        </div>

                        <div class="clearfix"></div>
                </div>
            </div>

    </form>


</div>
