

<ul class="list-group">
    <div class="btn-group-vertical"  style="display: block; width:100%;">

          <li class="list-group-item">
            <span class="card-detail"><strong>Event Name</strong></span>
            <span class="edetail"> {{ selectedEvent.name}}</span>
          </li>

        <li class="list-group-item">
              <span class="card-detail"><strong>Event Type</strong></span>
            <span class="edetail"> {{ selectedEvent.type}}</span>
        </li>

        <li class="list-group-item">
        <span class="card-detail"><strong>Event Host</strong></span>
            <span class="edetail"> {{ selectedEvent.host}}</span>
         </li>

        <li class="list-group-item">
              <span class="card-detail"><strong>Event Date</strong></span>
            <span class="edetail"> {{ selectedEvent.edate | date: "EEEE, MMMM d, y" }}</span>
        </li>

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-4">
                    <span> <strong>From</strong></span>
                    <span class="card-detail-stime">{{ selectedEvent.stime  | date: ' hh:mm a' }}</span>
              </div>

        <div class="col-sm-8">
            <span> <strong>To</strong></span>
            <span class="card-detail-etime">{{ selectedEvent.etime  | date: ' hh:mm a' }}</span>
        </div>
      </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-4">
            <span> <strong>Location</strong></span>
      </div>
      <div class="col-sm-8">
    <span> {{ selectedEvent.location.formatted_address }}</span>
    </div>
    <div class="clearfix"></div>
  </div>
</li>

   <li class="list-group-item">
        <span class="card-detail"> <strong>Guest list</strong></span>
          <div class="btn-group-vertical edetail">
             <a class="btn btn-default pull-right" ng-repeat="glist in selectedEvent.glist">{{ glist }}</a>
          </div>
    <div class="clearfix"></div>
</li>
 <li class="list-group-item">
              <span class="card-detail"><strong> Notes about the event</strong></span>
            <span class="edetail"> {{ selectedEvent.optionalMessage  }}</span>
        </li>
</div>
</ul>



