
<div class="panel panel-info">
    <div class="panel-heading text-center">
            <span class="lead">Event Detail</span>
                <div class="pull-left">
                    <button style="background-color: #808080" class="btn btn-danger btn-sm"
                                            ng-click="back()"><i class="fa fa-arrow-left" ></i>
                    </button>
                </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                        <ng-include src="'templates/events/event.card.tpl.html'" ></ng-include >
                </div>
</div>
