<div class="col-md-8 col-md-offset-2">
    <form class="form-horizontal"
                ng-submit="register()"
                novalidate="novalidate"
                name="registerform">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <span class="lead"><strong>Sign Up Form<strong></span>

                        <div class="pull-right">
                            <button class="btn btn-primary btn-sm"
                                            ladda="isCreating"
                                            type="submit">
                                            <span ng-show="isCreating"><strong>Signing up</strong></span>
                                            <span ng-show="!isCreating"><strong>Sign up</strong></span>
                            </button>

                            <button class="btn btn-danger btn-sm"
                                            ladda="isCancelling"
                                            type="button"
                                            ng-click="cancel()">
                                            <span ng-show="!isCancelling"><strong>Cancel</strong></span>
                                            <span ng-show="isCancelling"><strong>Canceling</strong></span>
                                </button>
                        </div>

                        <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <ng-include src="'templates/register/register.form.html'" ></ng-include >
                </div>
            </div>

    </form>

        <div ng-show="err"  >
        <div class="alert alert-info" >
            <p class="text-center" >The email you entered has already been registered </p >
        </div >
    </div >
</div>
