<div class="col-md-12">
    <button  ng-show="loggedIn" class="btn btn-danger pull-right" ng-click="logout()"><b>Log out</b></button>
    <span ng-show="!loggedIn"> <h2>Welcome ...</h2> <h4>You are not logged in yet, Please Login to create an event</h4></span>
    <span ng-show="loggedIn"><h2>Hello !!! </h2><h4>You are logged in</h4></span>
</div>
<div class="col-md-12">
    <button class="btn btn-success" style="display: block; width:100%; margin-bottom:10px"><strong>Recent events</strong></button>
</div>
<hr />
<div class="col-md-12">
    <div class="row">
        <cc-event ng-repeat="elt in events"
                     event="elt" >
        </cc-event>

    </div >
</div>
